<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>협력기업 - {{APP}}</title>

  {{>ad-style}}

</head>

<body class="az-body az-body-sidebar az-body-dashboard-nine az-white">

  {{>ad-hdn}}

  <div id="progress"></div>

  {{>ad-menu active='ctpartner'}}

  <div class="az-content az-content-dashboard-nine">

    {{>ad-header}}

    <div class="az-content-header">
      <div class="az-content-header-top">
        <div>
          <h2 class="az-content-title mg-b-5 mg-b-lg-8">협력기업 수정</h2>
          <p class="mg-b-0">기존에 등록된 협력기업을 수정합니다.</p>
        </div>
        <div class="az-dashboard-date">
          <div class="nav-wrapper">
            <nav class="nav az-nav-line">
              <a href="/admin/contents/partner" class="nav-link">리스트</a>
              <a href="/admin/contents/partner/order" class="nav-link">순서</a>
              <a href="javascript:void(0);" class="nav-link active">수정</a>
            </nav>
          </div>
        </div>
      </div>

    </div>
    <div class="az-content-body">

      <div class="row">
        <div class="col-12">
          <div class="card card-body ht-xl-100p">
            <form method="POST" onsubmit="APP.updatePartner(); return false;">
              <input name="idx" value="{{partner.idx}}" type="hidden">
              <div class="form-warp-first"></div>
              <div class="row form-warp align-items-center mg-t-0-f">
                <div class="form-title">
                  회사명 <span class="text-danger mg-l-3">*</span>
                </div>
                <div class="form-input mg-t-5 mg-md-t-0">
                  <input name="name" type="text" class="form-control d-inline wd-100p wd-md-20p wd-lg-15p mg-r-10"
                    autocomplete="off" value="{{partner.name}}">
                </div>
              </div>

              <div class="row form-warp align-items-center">
                <div class="form-title">
                  홈페이지 주소
                </div>
                <div class="form-input mg-t-5 mg-md-t-0">
                  <input name="url" type="text" class="form-control d-inline wd-100p wd-md-60p wd-lg-50p"
                    autocomplete="off" value="{{partner.url}}">
                </div>
              </div>

              <div class="row form-warp align-items-center">
                <div class="form-title">
                  기업소개
                </div>
                <div class="form-input mg-t-5 mg-md-t-0">
                  <input name="description" type="text" class="form-control d-inline wd-100p wd-md-60p wd-lg-50p"
                    autocomplete="off" value="{{partner.description}}">
                </div>
              </div>

              <div class="row form-warp align-items-center">
                <div class="form-title">
                  기업로고 <span class="text-danger mg-l-3">*</span>
                </div>
                <div class="form-input mg-t-5 mg-md-t-0">
                  <input class="partner-logo" name="logo" type="hidden" value="{{partner.logo}}">
                  <input id="logo" name="file" type="file" onchange="APP.logoChange();" style="display:none;">
                  <div class="bd pd-10 ht-85 text-center pointer wd-100p wd-md-50p wd-lg-30p br-6"
                    onclick="APP.logoButton();">
                    <div class="logo-text tx-gray-600 mg-t-10 d-none">
                      로고 업로드<br />
                      180px X 60px
                    </div>
                    <div class="logo-preview">
                      <img class="img-preview" src="{{partner.logo}}" style="width:180px; height: 60px;">
                    </div>
                  </div>
                </div>
              </div>

              <div class="mg-t-10 tx-12"><span class="text-danger">*</span> 표시는 필수항목입니다.</div>

              <div class="row mg-t-20">
                <div class="col-12 text-right">
                  <button type="button" class="btn btn-outline-dark btn-border pd-x-20 mg-r-5"
                    onclick="APP.cancle();">취소</button>
                  <button type="submit" class="btn btn-az-primary btn-border pd-x-20">저장</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>

  {{>ad-script}}
  <script>
    window.APP = {
      logoButton: function () { // 썸네일 변경 버튼 클릭
        $('#logo').val('');
        $('#logo').trigger('click');
      },
      logoChange: function () {	// 썸네일 변화 감지
        var target = event.target;
        var files = target.files;
        if (!CHECK.isFileSize(files)) {
          Swal.fire({ type: 'error', title: '오류', text: '파일은 최대 2MB까지 업로드가 가능합니다.' });
          return
        }

        if (!files[0]) return;

        var multipart = new FormData();
        multipart.append('file', files[0]);

        AJAX.file('/upload/image', multipart)
          .then(function (res) {
            $('.logo-text').addClass('d-none');
            $('.logo-preview').removeClass('d-none');
            $('.img-preview').attr('src', res.src);
            $('.partner-logo').val(res.src);
          });
      },
      updatePartner: function () { // 파트너 수정

        var form = $(event.target).serializeObject();

        var validate = true;
        var message = '';

        if (form.name == '') {
          validate = false;
          message = '회사명을 입력해주세요.';
        } else if (form.logo == '') {
          validate = false;
          message = '로고를 업로드해주세요.';
        }

        if (!validate) {
          Swal.fire({
            type: 'error',
            title: '필드 누락',
            text: message,
            confirmButtonColor: '#5b47fb',
            confirmButtonText: '확인',
            heightAuto: false,
          });
          return false;
        }

        AJAX.put('/partner/' + form.idx, form)
          .then(function (res) {
            Swal.fire({ type: 'success', title: '완료', text: res.message, confirmButtonColor: '#5b47fb', confirmButtonText: '확인' })
              .then(function () { $('#historyHdn').val() ? location.href = $('#historyHdn').val() : history.back() });
          });


        return false;

      },
      cancle: function () { // 뒤로가기 처리
        Swal.fire({ title: '확인', html: '입력하신 정보가 반영되지 않습니다.<br>진행 할까요?', type: 'warning', confirmButtonColor: '#5b47fb', showCancelButton: true, confirmButtonText: '진행', cancelButtonText: '취소', reverseButtons: true })
          .then(function (res) {
            if (res.value) {
              $('#historyHdn').val() ? location.href = $('#historyHdn').val() : history.back()
            }
          });
      },
      init: function () { // 초기 스크립트 실행

      }
    }

    $(document).ready(function () {
      APP.init();
    });
  </script>

</body>

</html>