<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="dashboard"}}

  <main class="dashboard">
    <h1 class="page_title">대시보드</h1>
    <aside class="aside">
      <span id="today" class="today"></span>
      <span class="version">v{{VERSION}}</span>
    </aside>
    <div class="row">
      <section class="summary">
        <h2>정보 요약</h2>
        <ul>
          <li>
            <h3>오늘 일정</h3>
            <p><span>{{length schedules}}</span> 건</p>
          </li>
          <li>
            <h3>처리할 일</h3>
            <p><span id="taskCount">{{length tasks}}</span> 건</p>
          </li>
          <li>
            <h3>포스트 수</h3>
            <p><span>{{countPostTag.postCount}}</span> 건</p>
          </li>
          <li>
            <h3>태그 수</h3>
            <p><span>{{countPostTag.tagCount}}</span> 개</p>
          </li>
        </ul>
        <div class="home_info">
          <div>소유자<span class="separator">|</span>{{app.name}}</div>
          <div>
            도메인<span class="separator">|</span>{{app.domain}}
          </div>
        </div>
        <div class="quick_menu">
          <div>
            <a href="/admin/schedule" class="btn">일정 등록<i class="mdi mdi-chevron-right"></i></a>
            <a href="/admin/task" class="btn">할일 등록<i class="mdi mdi-chevron-right"></i></a>
            <a href="/admin/note" class="btn">노트 열기<i class="mdi mdi-chevron-right"></i></a>
          </div>
          <div>
            <a href="https://analytics.google.com/analytics/web/?hl=ko&pli=1#/report-home/a145435902w207175152p199928658"
              target="_blank" class="btn">통계 확인<i class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
      </section>
      <section class="sys_info">
        <h2>시스템 현황</h2>
        <div class="chart">
          <span class="percent">{{restPercent app.expiredServer}} %</span>
          <span id="sysInfoDonut" class="peity-donut">{{restDonut app.expiredServer}}</span>
        </div>
        <div class="more">
          <div>
            <h3>서버 유효기간</h3>
            <p>{{restDate app.expiredServer}} 일</p>
          </div>
          <div>
            <h3>도메인 유효기간</h3>
            <p>{{restDate app.expiredDomain}} 일</p>
          </div>
        </div>
        <div class="more">
          <div>
            <h3>결제 예정일</h3>
            <p>{{parseDate app.expiredServer 'YYYY.MM.DD'}}</p>
          </div>
          <div>
            <h3>금액</h3>
            <p>{{decimal app.price}} 원</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="todo">
        <h2>처리할 일</h2>
        <ul>
          {{#each tasks}}
          <li class="{{#if completed}}completed{{/if}}" style="border-left: 2px solid {{color}}" data-idx="{{idx}}">
            <div class="header">
              <div class="title">
                {{title}}
              </div>
              <div class="start_date">
                {{parseDate startAt 'YYYY.MM.DD'}}
              </div>
              <div class="end_date">
                {{parseDate endAt 'YYYY.MM.DD'}}
              </div>
              <div class="check">
                <input type="checkbox" id="checkTask{{idx}}" class="cbx" {{{checkbox completed}}}
                  onchange="APP.updateTaskCompleted();" />
                <label for="checkTask{{idx}}"></label>
              </div>
            </div>
            <div class="contents">
              {{{lineBreak contents}}}
            </div>
          </li>
          {{else}}
          <div>처리해야할 태스크가 없습니다</div>
          {{/each}}
        </ul>
      </section>
      <section class="schedule">
        <h2>일정</h2>
        <ul>
          {{#each schedules}}
          <li>
            <div class="date">
              <div class="title">
                {{title}}
              </div>

              <div class="indicator" style="background-color: {{color}};"></div>
            </div>
            <div class="period">
              <i class="mdi mdi-calendar"></i>
              {{parseDate start 'YY.MM.DD HH:mm'}} ~ {{parseDate end 'YY.MM.DD HH:mm'}}
            </div>
            {{#if location}}
            <div class="location">
              <i class="mdi mdi-map-marker"></i>
              {{location}}
            </div>
            {{/if}}
          </li>
          {{else}}
          <div>등록된 일정이 없습니다</div>
          {{/each}}
        </ul>
      </section>
    </div>
  </main>

  {{>ad-script MODULE=(config 'admin' 'dashboard')}}

</body>

</html>