<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="member"}}

  <main class="member">
    <h1 class="page_title">회원</h1>
    <aside class="aside">
    </aside>
    <section class="lib">
      <div class="left">
        <div class="menu">
          <div class="all">
            카테고리
          </div>
        </div>
        <div class="list">
          <ul>
            <li class="item">
              <a href="/admin/member">
                <i class="mdi mdi-format-list-bulleted"></i><span>전체</span>
                {{#isNull category}}
                <span class="check">
                  <i class="mdi mdi-check-bold"></i>
                </span>
                {{/isNull}}
              </a>
            </li>
            <li class="item">
              <a href="/admin/member?category=active"><i class="mdi mdi-check"></i><span>활성</span></a>
              {{#eq category 'active'}}
              <span class="check">
                <i class="mdi mdi-check-bold"></i>
              </span>
              {{/eq}}
            </li>
            <li class="item">
              <a href="/admin/member?category=disabled"><i class="mdi mdi-close"></i><span>정지</span></a>
              {{#eq category 'disabled'}}
              <span class="check">
                <i class="mdi mdi-check-bold"></i>
              </span>
              {{/eq}}
            </li>
            <li class="item">
              <a href="/admin/member?category=withdraw"><i class="mdi mdi-block-helper"></i><span>탈퇴</span></a>
              {{#eq category 'withdraw'}}
              <span class="check">
                <i class="mdi mdi-check-bold"></i>
              </span>
              {{/eq}}
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <span class="title">
            {{title}}
            <span class="count">{{memberPage.rowCount}}명</span>
          </span>
          <div class="search">
            <form>
              <input type="text" name="query" id="query" placeholder="회원 검색" value="{{query}}">
              <input type="hidden" name="category" value="{{category}}">
              <button type="submit"></button>
            </form>
          </div>
        </div>
        <div id="list" class="list">
          <ul>
            {{#each members}}
            <li>
              <div class="thumbnail">
                <img src="{{thumbnail}}">
              </div>
              <div class="contents">
                <span class="name">
                  {{name}}
                  <span class="date">
                    ({{parseDiffDate loginAt}})
                  </span>
                  {{#if email}}
                  <span class="email {{#if marketing}}active{{/if}}" data-tippy-content="{{email}}">
                    <i class="mdi mdi-email"></i>
                  </span>
                  {{/if}}
                </span>
              </div>
              <div class="option">
                <div class="status">
                  {{#if withdraw}}
                  <span class="withdraw"><i class="mdi mdi-block-helper"></i></span>
                  {{else}}
                  {{#if active}}
                  <span class="active" onclick="APP.updateDisabled({{idx}})"><i class="mdi mdi-check"></i></span>
                  {{else}}
                  <span class="disabled" onclick="APP.updateActive({{idx}})"><i class="mdi mdi-close"></i></span>
                  {{/if}}
                  {{/if}}
                </div>
                <div class="platform">
                  {{#eq platform 'GIT'}}
                  <i class="mdi mdi-github-circle"></i>
                  {{/eq}}
                  {{#eq platform 'GOOGLE'}}
                  <i class="mdi mdi-google"></i>
                  {{/eq}}
                  {{#eq platform 'FACEBOOK'}}
                  <i class="mdi mdi-facebook-box"></i>
                  {{/eq}}
                </div>
                <div class="date">{{parseDate createdAt 'YYYY.MM.DD'}}</div>
              </div>
            </li>
            {{else}}
            {{#if query}}
            <div class="not">
              검색하신 '<span class="keyword">{{query}}</span>' 키워드에 해당하는 회원을 찾을 수 없습니다.<br>
              오탈자를 확인하시고 재 검색해주세요.
            </div>
            {{else}}
            <div class="not">
              해당되는 회원정보가 없습니다.
            </div>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="page_area">
          <ul id="page" class="pagination"></ul>
        </div>
      </div>
    </section>
  </main>

  {{>ad-script MODULE=(config 'admin' 'member')}}

</body>

</html>