<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}
  {{{noteStyle noteGroups}}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="note"}}

  <main class="note">
    <h1 class="page_title">노트</h1>
    <aside class="aside">
      <button type="button" class="btn" onclick="APP.modalNoteGroup();">
        <i class="mdi mdi-puzzle-outline"></i> 그룹 추가
      </button>
      {{#if noteGroup}}
      <a href="/admin/note/edit?group={{noteGroup.idx}}" class="btn">
        <i class="mdi mdi-playlist-edit"></i> 노트 등록
      </a>
      {{/if}}
    </aside>
    <section class="lib">
      <div class="left">
        <div class="menu">
          <div class="all">
            <a href="/admin/note">전체보기</a>
          </div>
        </div>
        <div id="noteGroup" class="list">
          {{#each noteGroups}}
          <div class="item" data-idx="{{idx}}">
            <a href="/admin/note?group={{idx}}">
              <span class="icon" style="border-color: {{color}}; background-color: {{color}};"></span>
              <span>
                {{name}}
              </span>
            </a>
            <span class="move"><i class="mdi mdi-drag-variant"></i></span>
            <span class="edit" onclick="APP.modalNoteGroup({{idx}})">
              <i class="mdi mdi-pen"></i>
            </span>
            <span class="delete" onclick="APP.deleteNoteGroup({{idx}})">
              <i class="mdi mdi-window-close"></i>
            </span>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <span class="title">
            {{#if noteGroup}}
            <span>{{noteGroup.name}}</span>
            {{else}}
            등록된 노트
            {{/if}}
          </span>
          <div class="search">
            <form>
              {{#if noteGroup}}
              <input type="hidden" name="group" value="{{noteGroup.idx}}">
              {{/if}}
              <input type="text" name="query" id="query" placeholder="노트 검색" value="{{query}}">
              <button type="submit"></button>
            </form>
          </div>
        </div>
        <div id="list" class="list">
          <ul>
            {{#each notes}}
            <a href="/admin/note/{{idx}}" data-idx="{{idx}}" class="group{{NoteGroupIdx}}">
              <li>
                <h2><span class="bar"></span>{{title}}
                </h2>
                <p>{{parseMarkdown contents 250}}</p>
                <div>{{parseDate createdAt 'YYYY.MM.DD'}}</div>
              </li>
              <span></span>
            </a>
            {{else}}
            {{#if query}}
            <div class="not">
              검색하신 '<span class="keyword">{{query}}</span>' 키워드에 해당하는 노트를 찾을 수 없습니다.<br>
              오탈자를 확인하시고 재 검색해주세요.
            </div>
            {{else}}
            <div class="not">
              현재 그룹에 등록된 노트가 없습니다.<br>
              새로운 노트를 등록해주세요.
            </div>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="page_area">
          <ul id="page" class="pagination"></ul>
        </div>
      </div>
    </section>
  </main>

  {{>ad-script MODULE=(config 'admin' 'note')}}

</body>

</html>