<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="task"}}

  <main class="task">
    <h1 class="page_title">태스크</h1>
    <aside class="aside">
      <button type="button" class="btn" onclick="APP.modalTaskGroup();">
        <i class="mdi mdi-puzzle-outline"></i> 그룹 추가
      </button>
      {{#if taskGroup}}
      <button type="button" class="btn" onclick="APP.modeTask();">
        <i class="mdi mdi-playlist-edit"></i> 태스크 등록
      </button>
      {{/if}}
    </aside>
    <section class="lib">
      <div class="left">
        <div class="menu">
          <div class="all">
            <a href="/admin/task">전체보기</a>
          </div>
        </div>
        <div id="taskGroup" class="list">
          {{#each taskGroups}}
          <div class="item" data-idx="{{idx}}">
            <a href="/admin/task?group={{idx}}">
              <span class="icon" style="border-color: {{color}}; background-color: {{color}};"></span>
              <span>
                {{name}}
              </span>
            </a>
            <span class="edit" onclick="APP.modalTaskGroup({{idx}})">
              <i class="mdi mdi-pen"></i>
            </span>
            <span class="delete" onclick="APP.deleteTaskGroup({{idx}})">
              <i class="mdi mdi-window-close"></i>
            </span>
          </div>

          {{/each}}
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <span class="group_title">
            {{#if taskGroup}}
            <span>{{taskGroup.name}}</span>
            {{else}}
            등록된 태스크
            {{/if}}
          </span>
          <div class="search">
            <form>
              {{#if taskGroup}}
              <input type="hidden" name="group" value="{{taskGroup.idx}}">
              {{/if}}
              <input type="text" name="query" id="query" placeholder="태스크 검색" value="{{query}}">
              <button type="submit"></button>
            </form>
          </div>
        </div>
        <div id="mode" class="hidden"></div>
        <div id="list" class="list">
          <ul>
            {{#each tasks}}
            <li class="{{#if completed}}completed{{/if}}" style="border-left: 2px solid {{color}}" data-idx="{{idx}}">
              <div class="header">
                <div class="title">
                  {{title}}
                </div>
                <div class="start_date">
                  {{parseDate start 'YYYY.MM.DD'}}
                </div>
                <div class="end_date">
                  {{parseDate end 'YYYY.MM.DD'}}
                </div>
                <div class="check">
                  <input type="checkbox" id="checkTask{{idx}}" class="cbx" {{{checkbox completed}}}
                    onchange="APP.updateTaskCompleted();" />
                  <label for="checkTask{{idx}}"></label>
                </div>
              </div>
              <div class="contents">
                {{{lineBreak contents}}}
              </div>
            </li>
            {{else}}
            {{#if query}}
            <div class="not">
              검색하신 '<span class="keyword">{{query}}</span>' 키워드에 해당하는 태스크를 찾을 수 없습니다.<br>
              오탈자를 확인하시고 재 검색해주세요.
            </div>
            {{else}}
            <div class="not">
              현재 그룹에 등록된 태스크가 없습니다.<br>
              새로운 태스크를 등록해주세요.
            </div>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="page_area">
          <ul id="page" class="pagination"></ul>
        </div>
      </div>
    </section>
  </main>

  {{>ad-script MODULE=(config 'admin' 'task')}}

</body>

</html>