<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>배너 - {{APP}}</title>

  {{>ad-style}}

</head>

<body class="az-body az-body-sidebar az-body-dashboard-nine az-white">

  {{>ad-hdn}}

  <div id="progress"></div>

  {{>ad-menu active='ctbanner'}}

  <div class="az-content az-content-dashboard-nine">

    {{>ad-header}}

    <div class="az-content-header">
      <div class="az-content-header-top">
        <div>
          <h2 class="az-content-title mg-b-5 mg-b-lg-8">배너</h2>
          <p class="mg-b-0">메인페이지에 노출되는 배너를 관리합니다.</p>
        </div>
        <div class="az-dashboard-date">
          <div class="nav-wrapper">
            <nav class="nav az-nav-line">
              <a href="/admin/contents/banner" class="nav-link active">리스트</a>
              <a href="/admin/contents/banner/order" class="nav-link">순서</a>
              <a href="/admin/contents/banner/create" class="nav-link">등록</a>
            </nav>
          </div>
        </div>
      </div>

    </div>
    <div class="az-content-body">
      <div class="row">
        <div class="col-12">
          <div class="card card-body ht-xl-100p">
            {{#each bannerList.items}}
            <div class="bd pd-20 mg-b-20">
              <div class="row pos-relative">
                <div class="pos-absolute t-0 r-20 tx-15-f z-index-10">
                  <a href="/admin/contents/banner/edit?idx={{idx}}" class="mg-l-5"><i
                      class="mdi mdi-square-edit-outline"></i></a>
                  <a href="javascript:void(0);" onclick="APP.buttonDeleteBanner({{idx}})"><i
                      class="mdi mdi-delete-empty"></i></a>
                </div>
                <div class="col-12">
                  <h5 class="tx-inverse">{{name}}<span class="mg-l-0 mg-md-l-5 tx-13 d-block d-md-inline">(
                      {{fmtymd reg_date}} )</span></h5>
                </div>
              </div>
              <div class="row mg-t-5">
                <div class="col-12 text-center">
                  <img src="{{img}}" alt="{{name}}" class="mg-b-10 w-100">
                </div>
              </div>
            </div>
            {{else}}
            <div class="text-center">
              등록된 배너가 없습니다.
            </div>
            {{/each}}
          </div>
        </div>
      </div>

    </div>
  </div>

  {{>ad-script}}
  <script>
    window.APP = {
      buttonDeleteBanner: function (idx) { // 배너 삭제
        Swal.fire({ title: '확인', text: '선택하신 배너를 삭제할까요?', type: 'warning', confirmButtonColor: '#5b47fb', showCancelButton: true, confirmButtonText: '진행', cancelButtonText: '취소', reverseButtons: true })
          .then(function (result) {
            if (result.value) {
              AJAX.delete('/banner/' + idx)
                .then(function (res) {
                  Swal.fire({ type: 'success', title: '완료', text: res.message, confirmButtonColor: '#5b47fb', confirmButtonText: '확인' })
                    .then(function () { location.reload() });
                });
            }
          });
      },
      init: function () { // 초기 스크립트 실행


      }
    }

    $(document).ready(function () {
      APP.init();
    });
  </script>

</body>

</html>