{{!-- SEO 영역 --}}
<meta name="google-site-verification" content="QSMuirmrBZ6_wn0rIAM9IGfAlwfYMQV0QKMDf6I42Vg" />
<meta name="author" content="opzyra">
<meta name="robots" content="ALL">
<meta name="NaverBot" content="All">
<meta name="Yeti" content="index,follow">

<title>{{ifNullDef title APP}}</title>

<meta name="description" content="{{ifNullDef description '안녕하세요. 브라우저로 사람을 연결하는 웹 개발자 김현호의 개인 포트폴리오 사이트 입니다.'}}">
<meta name="og:title" content="{{ifNullDef title APP}}">
<meta name="og:type" content="{{ifNullDef type 'website'}}">
<meta name="og:url" content="{{ifNullDef URL}}">
<meta name="og:image" content="{{ifNullDef img 'https://devhyun.com/images/og.png'}}">
<meta name="og:description" content="{{ifNullDef description '안녕하세요. 브라우저로 사람을 연결하는 웹 개발자 김현호의 개인 포트폴리오 사이트 입니다.'}}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ifNullDef title APP}}">
<meta name="twitter:description"
  content="{{ifNullDef description '안녕하세요. 브라우저로 사람을 연결하는 웹 개발자 김현호의 개인 포트폴리오 사이트 입니다.'}}">
<meta name="twitter:image" content="{{ifNullDef img 'https://devhyun.com/images/og.png'}}">
<meta name="twitter:domain" content="{{ifNullDef URL}}">