<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>시리즈 - {{APP}}</title>

  {{>ad-style}}

</head>

<body class="az-body az-body-sidebar az-body-dashboard-nine az-white">

  {{>ad-hdn}}

  <div id="progress"></div>

  {{>ad-menu active='boseries'}}

  <div class="az-content az-content-dashboard-nine">

    {{>ad-header}}

    <div class="az-content-header">
      <div class="az-content-header-top">
        <div>
          <h2 class="az-content-title mg-b-5 mg-b-lg-8">시리즈 상세정보</h2>
          <p class="mg-b-0">시리즈에 등록된 글의 상세 정보입니다.</p>
        </div>
        <div class="az-dashboard-date">
          <div class="nav-wrapper">
            <nav class="nav az-nav-line">
              <a href="/admin/board/series" class="nav-link">리스트</a>
              <a href="javascript:void(0);" class="nav-link active">상세정보</a>
            </nav>
          </div>
        </div>
      </div>

    </div>
    <div class="az-content-body">

      <div class="row">
        <div class="col-12">
          <div class="card card-body ht-xl-100p">
            <div class="form-warp-first"></div>
            <div class="row form-warp align-items-center mg-t-0-f">
              <div class="form-title">
                작성자
              </div>
              <div class="form-input mg-t-5 mg-md-t-0">
                <div class="d-inline-block az-img-user online mg-r-5"><img src="{{series.member_thumbnail}}"
                    alt="thumbnail">
                </div>
                <div class="d-inline-block pd-y-9">{{series.member_name}}</div>
              </div>

            </div>
            <div class="row form-warp align-items-center">
              <div class="form-title">
                작성일
              </div>
              <div class="form-input half mg-t-5 mg-md-t-0">
                <div class="pd-y-9">{{parseDate series.reg_date 'YYYY.MM.DD HH:mm:ss'}}</div>
              </div>
              <div class="form-title  mg-t-15 mg-md-t-0">
                조회수
              </div>
              <div class="form-input half mg-t-5 mg-md-t-0">
                <div class="pd-y-9">{{series.hit}}</div>
              </div>
            </div>
            <div class="row form-warp align-items-center">
              <div class="form-title">
                제목
              </div>
              <div class="form-input mg-t-5 mg-md-t-0">
                <div class="pd-y-9">{{series.title}}</div>
              </div>
            </div>

            <div class="row form-warp align-items-center">
              <div class="form-title">
                썸네일
              </div>
              <div class="form-input mg-t-5 mg-md-t-0">
                <div class="pd-y-9">
                  <img src="{{series.thumbnail}}" alt="thumbnail" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="row form-warp align-items-center">
              <div class="form-title">
                내용
              </div>
              <div class="form-input mg-t-5 mg-md-t-0">
                <div class="tui-editor-contents" style="min-height: 700px">
                  {{{series.contents}}}
                </div>
              </div>
            </div>

            <div class="row form-warp align-items-center">
              <div class="form-title">
                포스트
              </div>
              <div class="form-input mg-t-5 mg-md-t-0 pd-y-15-f">
                {{#each posts}}
                <div>{{add @index 1}}. <a href="/admin/board/post/detail?idx={{idx}}">{{title}}
                    ({{parseDate reg_date 'YYYY.MM.DD'}})</a></div>
                {{else}}
                <div>등록된 포스트가 없습니다.</div>
                {{/each}}
              </div>
            </div>

            <div class="row mg-t-20">
              <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-dark btn-border pd-x-20 mg-r-5"
                  onclick="APP.back();">뒤로</button>
                {{#if series.own}}
                <button type="button" class="btn btn-danger btn-border pd-x-20 mg-r-5"
                  onclick="APP.deleteSeries({{series.idx}})">삭제</button>
                <button type="button" class="btn btn-az-primary btn-border pd-x-20"
                  onclick="location.href='/admin/board/series/edit?idx={{series.idx}}'">수정</button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  {{>ad-script}}
  <script>
    window.APP = {
      deleteSeries: function (idx) { // 삭제
        Swal.fire({ title: '확인', text: '시리즈을 삭제할까요?', type: 'warning', confirmButtonColor: '#5b47fb', showCancelButton: true, confirmButtonText: '진행', cancelButtonText: '취소', reverseButtons: true })
          .then(function (result) {
            if (result.value) {
              AJAX.delete('/board/series/' + idx)
                .then(function (res) {
                  Swal.fire({ type: 'success', title: '완료', text: res.message, confirmButtonColor: '#5b47fb', confirmButtonText: '확인' })
                    .then(function () { $('#historyHdn').val() ? location.href = $('#historyHdn').val() : history.back() });
                });
            }
          });
      },
      back: function () { // 뒤로가기 처리
        history.back();
      },
      init: function () { // 초기 스크립트 실행

      }
    }

    $(document).ready(function () {
      APP.init();
    });
  </script>

</body>

</html>