<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="blog"}}

  <main class="blog">
    <form method="POST" onsubmit="{{#if post}}APP.updatePost({{post.idx}});{{else}}APP.insertPost();{{/if}}">
      <h1 class="page_title">블로그</h1>
      <aside class="aside">
        <button type="submit" class="btn">
          <i class="mdi mdi-playlist-edit"></i> 포스트 저장
        </button>
        <button type="button" class="btn danger" onclick="APP.cancel();">
          <i class="mdi mdi-cancel"></i> 취소
        </button>
      </aside>
      <section class="lib">
        <div class="left">
          <div class="menu">
            <div class="all">
              설정
            </div>
          </div>
          <div class="option">
            <div class="item thumbnail">
              <h3>썸네일<span>627x414</span></h3>
              {{#if post}}
              <img id="thumbnailImg" src="{{post.thumbnail}}" alt="thumbnail" onclick="APP.thumbnailButton();">
              <input id="thumbnailHdn" name="thumbnail" type="hidden" value="{{post.thumbnail}}"
                onclick="APP.thumbnailButton();">
              {{else}}
              <img id="thumbnailImg" src="{{add DOMAIN '/images/default_post.png'}}" alt="thumbnail"
                onclick="APP.thumbnailButton();">
              <input id="thumbnailHdn" name="thumbnail" type="hidden" value="{{add DOMAIN '/images/default_post.png'}}">
              {{/if}}
              <input id="thumbnailInpFile" type="file" onchange="APP.thumbnailChange();" style="display:none;">
            </div>
            <div class="item tag">
              <h3>태그</h3>
              <input type="text" onkeypress="APP.insertTag(event);">
              <div id="tags" class="tag_list">
                {{#each tags}}
                <span class="tag_item" onclick="APP.deleteTag();">
                  <span class="name">{{this}}</span>
                  <span class="delete"><i class="mdi mdi-close"></i></span>
                </span>
                {{/each}}
              </div>
            </div>
            <div class="item spell">
              <h3>맞춤법 검사</h3>
              <ul>
                <li onclick="APP.spell('pusan')">부산대</li>
                <li onclick="APP.spell('saramin')">사람인</li>
                <li onclick="APP.spell('jobkorea')">잡코리아</li>
              </ul>
            </div>
            <div class="item temp">
              <h3>임시저장</h3>
              <ul id="temps"></ul>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="menu">
            <span class="title">
              <input id="title" name="title" type="text" placeholder="제목을 입력해주세요" value="{{post.title}}">
            </span>
            {{#if post}}
            <span class="info">
              <span class="reg">등록일 {{parseDate post.createdAt 'YYYY.MM.DD'}}</span>
            </span>
            {{/if}}
          </div>
          <div class="container">
            <div id="markdown">
              {{{post.contents}}}
            </div>
            <input id="tempIdx" type="hidden" value="{{temp}}">
          </div>
        </div>
      </section>
    </form>
  </main>

  {{>ad-script MODULE=(config 'admin' 'postEdit')}}

</body>

</html>