<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="blog"}}

  <main class="blog">
    <h1 class="page_title">블로그</h1>
    <aside class="aside">
      <a href="/admin/blog/post/edit" class="btn">
        <i class="mdi mdi-playlist-edit"></i> 포스트 등록
      </a>
    </aside>
    <section class="lib">
      <div class="left">
        <div class="menu">
          <div class="all">
            카테고리
          </div>
        </div>
        <div class="list">
          <ul>
            <li class="item">
              <a href="/admin/blog/post">
                <i class="mdi mdi-post-outline"></i><span>포스트</span>
                <span class="check">
                  <i class="mdi mdi-check-bold"></i>
                </span>
              </a>
            </li>
            <li class="item">
              <a href="/admin/blog/series"><i class="mdi mdi-cube-outline"></i><span>시리즈</span></a>
            </li>
            <li class="item">
              <a href="/admin/blog/tag"><i class="mdi mdi-pound"></i><span>태그</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <span class="title">
            등록된 포스트
          </span>
          <div class="search">
            <form>
              <input type="text" name="query" id="query" placeholder="포스트 검색" value="{{query}}">
              <button type="submit"></button>
            </form>
          </div>
        </div>
        <div id="list" class="list post">
          <ul>
            {{#each posts}}
            <li>
              <a class="thumb" href="/admin/blog/post/{{idx}}">
                <img src="{{thumbnail}}">
                <div class="white-mask"></div>
              </a>
              <div class="description">
                <h3><a href="/admin/blog/post/{{idx}}">{{title}}</a></h3>
                <p>{{parseMarkdown contents 89}}</p>
                <div>
                  {{parseDate reg 'YYYY.MM.DD'}}
                  {{#if comment}}
                  <span>{{comment}}개의 댓글</span>
                  {{/if}}
                  <span>조회수 {{hit}}</span>
                </div>
              </div>
            </li>
            {{else}}
            {{#if query}}
            <div class="not">
              검색하신 '<span class="keyword">{{query}}</span>' 키워드에 해당하는 포스트를 찾을 수 없습니다.<br>
              오탈자를 확인하시고 재 검색해주세요.
            </div>
            {{else}}
            <div class="not">
              등록된 포스트가 없습니다.
            </div>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="page_area">
          <ul id="page" class="pagination"></ul>
        </div>
      </div>
    </section>
  </main>

  {{>ad-script MODULE=(config 'admin' 'post')}}

</body>

</html>