<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="note"}}

  <main class="note">
    <form method="POST" onsubmit="{{#if note}}APP.updateNote({{note.idx}});{{else}}APP.insertNote();{{/if}}">
      <h1 class="page_title">노트</h1>
      <aside class="aside">
        <button type="submit" class="btn">
          <i class="mdi mdi-playlist-edit"></i> 노트 저장
        </button>
        <button type="button" class="btn danger" onclick="APP.cancel();">
          <i class="mdi mdi-cancel"></i> 취소
        </button>
      </aside>
      <section class="lib">
        <div class="left">
          <div class="menu">
            <div class="all">
              설정
            </div>
          </div>
          <div class="option">
            <div class="item group">
              <h3>그룹</h3>
              <select name="note_group_idx">
                {{#each noteGroups}}
                <option value="{{idx}}" {{{selected idx ../group}}}>{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="item spell">
              <h3>맞춤법 검사</h3>
              <ul>
                <li onclick="APP.spell('pusan')">부산대</li>
                <li onclick="APP.spell('saramin')">사람인</li>
                <li onclick="APP.spell('jobkorea')">잡코리아</li>
              </ul>
            </div>
            <div class="item temp">
              <h3>임시저장</h3>
              <ul id="temps"></ul>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="menu">
            <span class="title">
              <input id="title" name="title" type="text" placeholder="제목을 입력해주세요" value="{{note.title}}">
            </span>
            {{#if note}}
            <span class="info">
              <span class="reg">등록일 {{parseDate note.reg 'YYYY.MM.DD'}}</span>
            </span>
            {{/if}}
          </div>
          <div class="container">
            <div id="markdown">
              {{{note.contents}}}
            </div>
            <input id="tempIdx" type="hidden" value="{{temp}}">
          </div>
        </div>
      </section>
    </form>
  </main>

  {{>ad-script MODULE=(config 'admin' 'noteEdit')}}

</body>

</html>