<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{>cl-seo 
		title=(add post.title ' - 데브현') 
		description=(parseMarkdown post.contents 150)
		img=post.thumbnail
		type='article'
	}}

	{{>cl-style}}

</head>

<body>

	{{>cl-common}}

	{{>cl-header active='blog' fix='fix'}}

	<main id="contents" class="post_detail">
		<div>
			<h2 class="hide">현재 화면 위치</h2>
			<section class="location">
				<div>
					<p>
						<span class="path">데브현 메인</span>
						<span class="path">블로그</span>
						<span class="path on">포스트</span>
					</p>
				</div>
			</section>

			<h2 class="hide">타이틀</h2>
			<section class="title">
				<div>
					<h2>
						{{post.title}}
					</h2>
					<div class="date">
						{{parseDate post.createdAt 'YYYY.MM.DD'}}
						<div class="icon">
							{{#isNewPost post.reg}}
							<img src="/images/new.png" alt="새로운" data-tippy-content="새로운">
							{{/isNewPost}}
							{{#isHotPost post.hit}}
							<img src="/images/hot.png" alt="핫한" data-tippy-content="핫한">
							{{/isHotPost}}
							{{#isGoodPost post.contents}}
							<img src="/images/long.png" alt="길다란" data-tippy-content="길다란">
							{{/isGoodPost}}
						</div>
					</div>

				</div>
			</section>

			<section class="container">
				<div>
					<div class="area">
						<div class="thumbnail">
							<div>
								<img src="{{post.thumbnail}}">
							</div>
						</div>

						<div class="contents">
							<div class="tui-editor-contents">
								{{{post.contents}}}
							</div>
						</div>

						<div class="tags">
							{{#each tags}}
							<a href="/blog/tag/{{tag}}">{{tag}}</a>
							{{/each}}
						</div>
						<div class="comments">
							<div>
								<h3>{{length comments}}개의 댓글</h3>
								<ul>
									{{#each comments}}
									<li>
										<div class="thumb">
											<img src="{{thumbnail}}" alt="{{name}}">
											<div class="mode">선택</div>
										</div>
										<div class="description">
											<h4>{{name}}<span>{{parseDiffDate reg}}</span></h4>
											{{#if target_idx}}<h5>@{{target_name}}</h5>{{/if}}
											<p>{{{lineBreak contents}}}</p>
											<div class="menu">
												{{#if ../session.member}}
												{{#neq ../session.member.idx member_idx}}
												<a href="javascript:;" onclick="APP.reply({{member_idx}})"><i
														class="mdi mdi-plus-outline"></i>댓글</a>
												{{else}}
												<a href="javascript:;" onclick="APP.updateModeComment({{idx}})"><i
														class="mdi mdi mdi-pen"></i>수정</a>
												<a href="javascript:;" onclick="APP.deleteComment({{idx}})"><i
														class="mdi mdi-window-close"></i>삭제</a>
												{{/neq}}
												{{/if}}
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
								{{#if session.member}}
								<form id="commentForm" method="POST" onsubmit="APP.createComment()" class="">
									<input name="board" type="hidden" value="post">
									<input name="board_idx" type="hidden" value="{{post.idx}}">
									<textarea name="contents" rows="1"></textarea>
									<div class="submit">
										{{#if comments_member}}
										<select name="target_idx">
											<option value="">글쓴이를 선택하세요</option>
											{{#each comments_member}}
											<option value="{{idx}}">{{name}}</option>
											{{/each}}
										</select>
										{{/if}}
										<button class="btn_submit" type="submit">작성</button>
										<button class="btn_cancel" type="button" onclick="APP.updateModeCommentCancel()">취소</button>
									</div>
								</form>
								{{else}}
								<div class="no-authorized">
									<a href="javascript:;" onclick="COMMON.redirectLogin();">로그인</a>을 하시면 댓글을 작성할 수 있어요 !
								</div>
								{{/if}}
							</div>
						</div>
						{{#if series}}
						<div class="series">
							<h2>시리즈</h2>
							<ul>
								{{#each series}}
								<li>
									<a href="/blog/series/{{idx}}">
										<img src="{{thumbnail}}" alt="{{title}}">
										<div class="white-mask"></div>
									</a>
									<div>
										<a href="/blog/series/{{idx}}">
											<h3>{{title}}</h3>
										</a>
										<div class="series-swiper{{@index}} swiper-container">
											<div class="swiper-wrapper">
												{{#each Posts}}
												<div class="swiper-slide {{#if (eq idx ../../post.idx)}}this{{/if}}" data-idx="{{@index}}">
													<a href="{{#if (eq idx ../../post.idx)}}javascript:void(0);{{else}}/blog/post/{{idx}}{{/if}}"
														class="{{#if (eq idx ../../post.idx)}}on{{/if}}">
														<h4>{{title}}{{#if (eq idx ../../post.idx)}} <span>(현재글)</span>{{/if}}
														</h4>
														<p>{{parseMarkdown contents 89}}</p>
													</a>
												</div>
												{{/each}}
											</div>
											<div class="swiper-pagination"></div>
											<button class="swiper-next"></button>
											<button class="swiper-prev"></button>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
						{{/if}}

						<div class="relation">
							<h2>{{#isNotNull tags}}연관{{else}}최신{{/isNotNull}} 포스트 <span>({{length relation}}건)</span></h2>
							<ul>
								{{#each relation}}
								<li {{#eq idx ../post.idx}}class="this" {{/eq}}>
									<a href="{{#eq idx ../post.idx}}javascript:void(0);{{else}}/blog/post/{{idx}}{{/eq}}">
										<div class="date">{{parseDate createdAt 'YYYY.MM.DD'}}</div>
										<h3>{{title}}</h3>
										<p class="visual_pc">{{parseMarkdown contents 200}}</p>
										<p class="visual_mobile">{{parseMarkdown contents 80}}</p>
									</a>
								</li>
								{{/each}}
							</ul>
						</div>

					</div>
					<aside>
						{{{toc}}}
					</aside>
				</div>
			</section>
			<section class="back">
				<div>
					<a href="/blog/post">
						목록으로 가기
					</a>
				</div>
			</section>
		</div>
	</main>

	{{>cl-footer}}

	{{>cl-script MODULE=(config 'client' 'postDetail')}}

</body>

</html>